@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>教务</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            一个示例应用程序
            演示如何在一个中使用实体框架核心
            ASP.NET核心MVC Web应用程序。
        </p>
    </div>
    <div class="col-md-4">
        <h2>从头开始</h2>
        <p>您可以按照一系列教程中的步骤构建应用程序。</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>下载</h2>
        <p>您可以从Git Hub下载完成的项目。</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>