@page
@model EFCore.Web.Pages.AboutModel
@{
    ViewData["Title"] = "学生统计";
}

<h2>学生统计</h2>

<table>
    <tr>
        <th>
            入学时间
        </th>
        <th>
            学生
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>